.container {
  max-width: 1140px;
  margin: 0 auto;
}

h2 {
  color: #ff6600;
  font-size: 2rem; /* Tamaño más grande */
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px; /* Espaciado entre letras para mayor impacto */
}

p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
}

.map-container {
  position: relative;
  width: 100%;
  height: 400px; /* Mantener altura fija */
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Agregar sombra sutil */
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.nosotros-section {
  background-image: linear-gradient(rgba(255, 102, 0, 0.6), rgba(255, 102, 0, 0.6)), url('../assets/gm.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 40px 20px;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Agregar sombra interna para dar profundidad */
}

.nosotros-section h2,
.nosotros-section p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.nosotros-section p {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
  line-height: 1.6;
}

.nosotros-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para pantallas medianas (md) y superiores */
@media (min-width: 768px) {
  .row.align-items-center > .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  .map-container {
    margin-top: 0;
  }
}

/* Estilos para pantallas pequeñas (sm) y menores */
@media (max-width: 767.98px) {
  .row.align-items-center > .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .map-container {
    margin-top: 20px;
  }
}

/* Efectos al pasar el ratón por encima */
.nosotros-section h2:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.nosotros-section p:hover {
  color: #ff6600;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.map-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
